@import '../../styles/global.scss';

._{
    background:linear-gradient( rgba(21, 3, 133, 0.3), rgba(8, 1, 48, 1)),url('https://images.unsplash.com/photo-1603986000106-953719c17db1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80');
    background-color: $blue;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    height:100vh;

    .container{
        @extend %container;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        .content{
            .conf_topic{
                text-align: center;
                margin-bottom:50px;
                @media (max-width:$break-point-s) {
                    margin-bottom:30px;
                }
                color: $white;
                small{
                    letter-spacing: .5rem;
                    text-transform: uppercase;
                    margin-bottom: 5px;
                }
                h1{
                    letter-spacing: .1rem;
                    font-size: 3.75em;
                    @media (max-width:$break-point-s) {
                        font-size: 3.40em;
                    }
                }
                p{
                    text-align: right;
                    font-weight: 600;
                    font-style: italic;
                    font-size:18px;
                    @media (max-width:$break-point-md) {
                        text-align: center;
                    }
                }
            }
            .division_line{
                position: relative;
                left: 50%; 
                transform: translateX(-50%);
                width:40%;
                height:5px;
                border-radius: 10px;
                background-color: $light-blue;
                border: 2px solid $light-blue;
            }
            // .countdown{
              
            // }
            .register_button{
                text-align: center;
                .register{
                    a{
                        color:$light-blue;
                        text-decoration: none;
                    }
                }
            }

        }
    }
}